body { background-image: url("er.png") }

 p {
  font-style: oblique;
}
    p.Mitexto2 {
  color: #808000;
}
p.Mitexto2 {
 font-size: 20px
  }
    p.Mitexto3 {
  color: green;
   font-style: cursive;
}
p.Mitexto3 {
 font-size: 22px
}
 span.Mitexto3 {
  border: red 3px dotted;
}
  }
   p.Mitexto4 {
  color: blue;
}
p.Mitexto4 {
 font-size: 20px
}
p.Mitexto5 {
 font-size: 20px 
 }
 span.Mitexto5 {
  border: black 5px dashed;
}
p.Mitexto5 {
 color: #008080;
}
 	 p.Mitexto6 {
  color: #00ff00;
}
p.Mitexto6 {
 font-size:20px
 
 }
 #textouno { 
 	font-size: 20px
  }
   #textouno { 
 	color: purple;
  }


 

 