body { background-image: url("er.png") }

 p {
  font-style: oblique;
}
#textouno { 
 	font-size: 20px
  }
   #textouno { 
 	color: purple;
  }
 	 p.Mitexto1 {
  color: #808000;
}
p.Mitexto1 {
 font-size:20px
}
    p.Mitexto2 {
  color: #00ff00;
}
p.Mitexto2 {
 font-size: 20px
  }
 span.Mitexto2 {
  border: black 1px dotted;
}
    p.Mitexto3 {
  color: green;
   font-style: cursive;
}
p.Mitexto3 {
 font-size: 22px
}
 span.Mitexto3 {
  border: black 1px dotted;
}
  }
   p.Mitexto4 {
  color: blue;
}
p.Mitexto4 {
 font-size: 20px
}
p.Mitexto5 {
 font-size: 20px 
 }
 span.Mitexto5 {
  border: black 1px dashed;
}
p.Mitexto5 {
 color: #008080;
 }
 


 

 